.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-family: conv_gothamrounded-bold;
  }
  &-info {
    width: calc(50% - 15px);
    ul {
      li {
        margin-left: 0;
        display: flex;
        line-height: 22px;
        margin-bottom: 15px;
        padding-right: 50px;
        span {
          flex-shrink: 0;
          font-weight: 700;
          width: 100px;
          display: inline-block;
        }
      }
    }
    .call-support {
      color: #e47e0a;
      font-size: 40px;
      font-family: conv_gothamrounded-bold;
      display: block;
      text-align: center;
      margin-top: 30px;
    }
  }
  &-form {
    width: calc(50% - 15px);
    form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &-map {
    width: 100%;
    margin-top: 50px;
  }
}

.clarification-text{
  height: 180px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-right: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  h3{
    margin-top: 0;
  }
}
.ct-arrow-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -40px;
  height: 40px;
  
}
.ct-arrow{
  background:#fff;
  border:1px solid #000;
  width: 50px;
  height:50px;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img{
    width:30px;
  }
}

@media screen and(max-width:767px){
  .contact{
    &-info{
      margin-bottom: 40px;
    }
    &-info,&-form{
      width: 100%;
    }
  }
}