.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-family: conv_gothamrounded-bold;
  }
  &-info {
    width: calc(50% - 15px);
    ul {
      li {
        margin-left: 0;
        display: flex;
        line-height: 22px;
        margin-bottom: 15px;
        padding-right: 50px;
        span {
          flex-shrink: 0;
          font-weight: 700;
          width: 100px;
          display: inline-block;
        }
      }
    }
    .call-support {
      color: #e47e0a;
      font-size: 40px;
      font-family: conv_gothamrounded-bold;
      display: block;
      text-align: center;
      margin-top: 30px;
    }
  }
  &-form {
    width: calc(50% - 15px);
    form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    input[type="text"],
    select,
    textarea {
      background: #f0f0f0;
      padding: 0 15px;
      height: 40px;
      border: none;
      width: 100%;
      margin-bottom: 15px;
      color: #444;
      &::placeholder {
        color: #444;
      }
      &.half {
        width: calc(50% - 10px);
      }
    }
    textarea {
      height: 80px;
      resize: none;
      padding: 15px;
    }
    .checkbox{
      margin-bottom: 20px;
      input{
        display: none;
        opacity: 0;
        visibility: hidden;
        &:checked + label {
          &:before{
            border-color: #e37e08;
          }
          &:after{
            opacity: 1;
          }
        }
      }
      label{
        display: flex;
        font-size: 12px;
        font-weight: bold;
        position: relative;
        &:before{
          content:'';
          display: block;
          width:20px;
          height: 20px;
          border: 2px solid #000;
          flex-shrink: 0;
          margin-right: 10px;
          margin-top: 5px;
          transition: 300ms;
        }
        &:after{
          content: "";
          background-image: url("/images/svg/check.svg");
          background-repeat: no-repeat;
          height: 15px;
          width: 15px;
          position: absolute;
          left: 3px;
          top: 8px;
          opacity: 0;
          transition: opacity .2s ease-in-out;
        }
      }
    }
    button{
      background: #009ee1;
      color: #fff;
      padding: 10px 20px;
      font-size: 16px;
    }
  }
  &-map {
    width: 100%;
    margin-top: 50px;
  }
}
